.resume {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 30px;

  b {
    font-size: 18px;
  }

  &__indent {
    padding-left: 21px;
  }
}
